name: Publish MPD client package to JSR

on:
  push:
    branches: ["main"]

jobs:
  verify:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
  
      - name: Verify formatting
        working-directory: "./packages/MPD"
        run: deno fmt --check

      #- name: Run linter
      #  working-directory: "./packages/MPD"
      #  run: deno lint

      - name: Run tests
        working-directory: "./packages/MPD"
        run: deno test -A
  publish:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - name: Publish package
        working-directory: "./packages/MPD"
        run: deno publish

